<footer class="page-footer">
<div class="container">
  <span class="white-text">© 2016 Baobab Family Tree</span>
  <a class="grey-text text-lighten-4 right" href="https://github.com/hienpd/family-tree">About Baobab</a>
</div>
</footer>
<script type="text/javascript" src="js/vendor/jquery.min.js"></script>
<script type="text/javascript" src="js/vendor/materialize.min.js"></script>
