<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">That Dang Family</a>
    <div class="row">
      <div class="col s1 offset-s9">
        <span>YOU!</span>
      </div>
      <div class="input-field col s2">
        <a id="logout" class="waves-effect waves-light btn">LOG OUT</a>
      </div>
    </div>
</nav>
