<nav>
  <div class="nav-wrapper">
    <div class="row">
      <div class="col s3">
        <a href="/" class="brand-logo">Baobab</a>
      </div>
      <div class="col s1 offset-s8">
        <span><i class="small right material-icons">perm_identity</i></span>
      </div>
      <div class="col s1">
          <span><%= email %></span>
      </div>
      <div class="input-field col s2">
        <a id="logout" class="waves-effect waves-light btn">LOG OUT</a>
      </div>
    </div>
  </div>
</nav>
