<nav>
  <div class="nav-wrapper">
    <div class="row">

      <div class="col s3">
        <a href="/"><img id="nav-logo" src="img/baobab_logo_large_whitefg.png"> </a>
      </div>

      <div class="col s3 offset-s3">
        <div class="input-field col s6">
          <label for="login-email">Email</label>
          <input type="text" name="email" id="login-email" class="validate">
        </div>
        <div class="input-field col s6">
          <input type="password" name="password" id="login-password" class="validate">
          <label for="login-password">Password</label>
        </div>
      </div>

      <div class="col s3">
        <div class="input-field col s2">
          <a id="login" class="waves-effect waves-light btn">LOG IN</a>
        </div>
      </div>

  </div>
</nav>
