<!DOCTYPE html>
<html lang="en">
<% include ../partials/head.ejs %>

  <body>
    <header>
      <% include ../partials/nav_login.ejs %>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <div class="row">
              <div class="col s12">
                <div id="card-hero" class="card center-align">
                  <div class="card-content green-text">
                    <p class="card-title">Welcome to Baobab!</p>
                    <img id="logo-hero" src="img/baobab_logo_teal.png" alt="Baobab">
                    <p class="center-align">The Baobab is known as the Tree of Life in Africa. Create an account and start building your family tree today.</p>
                  </div>
                  <div class="card-action">
                    <a href="register" class="waves-effect waves-light btn-large">Register</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
      <script src="/js/index.js"></script>
  </body>

</html>
