<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>
<style media="screen">
  .main-div {
    position: relative;
    margin-top: 4rem;
    width: 100%;
  }
  canvas {
  }
  .node {
    position: absolute;
    width: 100px;
    height: 100px;
    background: cyan;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px;
  }
  .node .edit {
    position: absolute;
    width: 40px;
    height: 25px;
    left: 70px;
    top: 80px;
    border: 1px solid black;
    background: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
</style>
  <body>
    <header>
      <% include ../partials/nav_logout.ejs %>
    </header>

    <main>
      <div class="main-div">
        <canvas id="canvas" width="300" height="300"></canvas>

      </div>

    </main>

    <% include ../partials/footer.ejs %>
    <script src="/js/tree2.js"></script>

  </body>

</html>
