<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>

  <body>
    <header>
      <% include ../partials/nav_logout.ejs %>
    </header>

    <main>
      <div class="container">

        <ul id="list"></ul>

        <!-- Modal Trigger -->
          <!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Edit</a> -->

          <!-- Modal Structure -->
          <div id="modal1" class="modal">
            <div class="modal-content">
              <h4>Edit Family Member</h4>
              <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
          </div>

      </div>
    </main>

    <% include ../partials/footer.ejs %>
    <script src="/js/tree.js"></script>
  </body>

</html>
