<!DOCTYPE html>
<html>
<% include ../partials/head.ejs %>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">That Dang Family</a>

      </nav>
    </header>

    <main>
      <div class="container">
      </div>
    </main>

    <% include ../partials/footer.ejs %>
  </body>

</html>
